/* Reset some basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Header styling */
header {
    background-color: #2e2e2e;
    width: 100%;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #f1f1f1;
    font-size: 2.5rem;
    font-family: 'Courier New', Courier, monospace;
}

/* Navigation styles */
nav ul {
    list-style-type: none;
    margin-top: 15px;
}

nav ul li {
    display: inline-block;
    margin-right: 15px;
}

nav ul li a {
    color: #f1f1f1;
    text-decoration: none;
    font-size: 1.2rem;
}

nav ul li a:hover {
    color: #ff6347;
}

/* Intro section for landing page */
.intro {
    padding: 50px;
    background: url('https://www.bing.com/images/search?view=detailV2&ccid=Hbfc%2BKBE&id=CAEAAE83EB281D33B3967092F93753DCB51B6C56&thid=OIP.Hbfc-KBEAY6EbAqjQAiixwHaFj&mediaurl=https%3A%2F%2Fth.bing.com%2Fth%2Fid%2FR.1db7dcf8a044018e846c0aa34008a2c7%3Frik%3DVmwbtdxTN%252fmScA%26riu%3Dhttp%253a%252f%252fwallpapercave.com%252fwp%252fnnkK445.jpg%26ehk%3DH9c4QD4fBpKdqzso0HM4kZoFocsQiCPkVNDJqoGFs5g%253d%26risl%3D%26pid%3DImgRaw%26r%3D0&exph=1200&expw=1600&q=hacker+background+for+website&simid=608037975530812233&form=IRPRST&ck=1FF5BA7EFFE4ED48F717D75ADBD548C9&selectedindex=0&itb=0&ajaxhist=0&ajaxserp=0&vt=0&sim=11') no-repeat center center;
    background-size: cover;
    width: 100%;
    text-align: center;
}

.intro h2 {
    color: #f1f1f1;
    font-size: 3rem;
    margin-bottom: 10px;
}

.intro p {
    color: #f1f1f1;
    font-size: 1.5rem;
}

/* About Me Page */
.about-section {
    padding: 30px;
    text-align: center;
}

.about-section h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #666;
}

/* Contact Page */
.contact-section {
    padding: 30px;
    text-align: center;
}

.contact-section h2 {
    font-size: 2.5rem;
    color: #333;
}

.contact-section p {
    font-size: 1.2rem;
    color: #666;
}
